body {
    padding-bottom: 0px;
}

.sidetoc {
    top: 180px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

th, td {
    padding-left: 5px;
    padding-right: 10px;
	vertical-align: top;
}

.article {
    margin-top: 160px;
}

@media only screen and (max-width: 768px) {
  .toc-toggle {
      display: inherit;
  }
}

@media only screen and (max-width: 1199px) {
  .article {
    margin-top:230px
  }
  .sidetoc {
    top: 250px;
  }
}

.level1 {
  margin-top: 5px;
}

.toc .level3 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level4 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level5 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.breadcrumb {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, span.xref {
    word-wrap: normal;
    word-break: normal;
}
