body {
    padding-bottom: 0px;
}

.sidetoc {
    top: 180px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

th, td {
    padding-left: 5px;
    padding-right: 10px;
	vertical-align: top;
}

.article, #search-results {
    margin-top: 180px;
}

@media only screen and (max-width: 768px) {
  .toc-toggle {
    display: inherit;
  }
  
  /* Our site.css override btn.display */
  .mobile-hide {
    display: none !important;
  }
  
  .article {
    margin-top: 30px !important;
  }
}

@media only screen and (max-width: 1199px) {
  .article, #search-results {
    margin-top:230px
  }
  .sidetoc {
    top: 250px;
  }
}

.level1 {
  margin-top: 5px;
}

.toc .level3 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level4 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level5 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

/* Already defined on navbar, but since we have conflict with current Xenko navbar we redefine them on breadcrumb */
.breadcrumb {
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 0 0 1px;
    border-radius: 0;
    border-color: #e7e7e7;
}

h1, h2, h3, h4, h5, h6, span.xref {
    word-wrap: normal;
    word-break: normal;
}

#search {
    margin-top: 8px !important;
}
