body {
    padding-bottom: 0px;
}

.sidefilter {
    top: 174px;
}

.sidetoc {
    top: 240px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

th, td {
    padding-left: 5px;
    padding-right: 10px;
	vertical-align: top;
}

.article, #search-results {
    margin-top: 180px;
}

@media only screen and (max-width: 768px) {
  .toc-toggle {
    display: inherit;
  }
  
  /* Our site.css override btn.display */
  .mobile-hide {
    display: none !important;
  }
  
  .article, #search-results {
    margin-top: 30px !important;
  }
}

@media only screen and (max-width: 1199px) {
  .article, #search-results {
    margin-top:230px
  }
  .sidefilter {
    top: 244px;
  }
  .sidetoc {
    top: 310px;
  }
}

/* make container auto adjust up to 1370px */
.container {
  width: initial;
  max-width: 1370px;
}

.level1 {
  margin-top: 5px;
}

.toc .level1 > li {
  margin-top: 5px;
}

.toc .level3 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level4 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level5 {
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 12px;
}

/* Already defined on navbar, but since we have conflict with current Xenko navbar we redefine them on breadcrumb */
.navbar-default2 {
    border-style: solid;
    border-width: 0 0 1px;
    border-radius: 0;
    background-color: #f5f5f5;
    border-color: #d0d0d0;
}

.breadcrumb {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, span.xref {
    word-wrap: normal;
    word-break: normal;
}

#search {
    margin-top: 8px !important;
}

/* In this article right menu */
.affix {
  top: 150px;
}

/* adjust before size so that anchor (#title) makes text scroll to proper location without hiding it under title bar */
h1:before, h2:before, h3:before, h4:before {
  height: 180px;
  margin-top: -180px;
}

/* View Source and Improve this doc buttons */
#_content>a{
  margin-top: 185px;
}

footer {
  text-align: center;
}